@charset "utf-8";

/* All - 모든 해상도 공용 스타일 */
.chatPanel{
	text-align: left;
	font-size:12px;
	overflow: scroll;
}

/* Mobile - 모바일 해상도 전용 스타일 */
.chatPanel{
	height: 180px;
}

/* Tablet & Desktop #1 - 태블릿 PC와 데스크톱 공용 스타일 #1 */
@media all and (min-width:481px) {
	.chatPanel{
			height: 250px;
		}
}

/* Tablet & Desktop #2 - 태블릿 PC와 데스크톱 공용 스타일 #2 */
@media all and (min-width:768px) {
	.chatPanel{
		height: 400px;
	}
}

/* Desktop - 데스크톱 전용 스타일 */
@media all and (min-width:990px) {
	.chatPanel{
		height: 600px;
	}
}



.hideKeyboardLayer{
	position:fixed;
}