@charset "utf-8"

/* Tablet & Desktop Device */
@media all and (min-width:768px){
	.chatPanel{
		text-align: left;
		font-size:12px;
		overflow: scroll;
		height: 300px;
	}
}


/* Tablet Device */
@media all and (min-width:768px) and (max-width:1024px){
	.chatPanel{
		text-align: left;
		font-size:12px;
		overflow: scroll;
		height: 300px;
	}
}


/* Desktop Device */
@media all and (min-width:1025px){
	.chatPanel{
		text-align: left;
		font-size:12px;
		overflow: scroll;
		height: 500px;
	}

}

/* ALL Device */ /* Mobile Device */
.list-group-item{
	text-align: left;
	font-size: 12px;
	overflow: scroll;
	height: 180px;
}