<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/dashboard.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
<script src="/js/chat.js"></script>
<title>Simple Web Chatting</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Simple Web Chatting</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" id="chatParticipant">
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Chatting Board</h1>

          <div class="row placeholders">
			<div class="form-group">
      			<label for="comment">Chat Message</label>
      			<textarea class="form-control" rows="5" id="comment" readonly></textarea>
    		</div>          
          </div>

          <h2 class="sub-header">Input your message !!</h2>
          <div class="table-responsive">
			<div class="form-group">
      			<label for="usr">Nickname : </label><span id="userNick"><%= uNick %></span>      			
      			<input type="text" class="form-control" id="usr" onkeyup="sendMsg()">
    		</div>          
          </div>
        </div>
      </div>
    </div>

<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" preserveAspectRatio="none" style="visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs></defs><text x="0" y="10" style="font-weight:bold;font-size:10pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle">200x200</text></svg></body>
</html>
