
	<!-- 하단 -->
	<div class="blog-footer">
		
		<div class="container">
			<div class="cloudName">
				<input type="text" id="userName" class="form-control input-sm" placeholder="" onkeyup="changeFocus()" required />
			</div>
			<div class="cloudContent">
				<input type="text" id="userContent" class="form-control input-sm" placeholder="" onkeyup="sendMsg()" required />
			</div>
			</ul>
		</div>
	</div>



</div>