
	<!-- 하단 -->
	<div class="blog-footer">
		
		<div class="container">
			<div class="cloudName">
				<input type="text" id="userName" class="form-control input-sm" placeholder="" onkeyup="changeFocus()" maxlength="10" required />
			</div>
			<div class="cloudContent">
				<input type="text" id="userContent" class="form-control input-sm" placeholder="" onkeyup="sendMsg()"  maxlength="500"required />
			</div>
			</ul>
		</div>
	</div>



</div>