<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="/resource/css/reset.css" rel="stylesheet" media="screen">
  <link href="/resource/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  <link href="/resource/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/resource/css/docs.min.css" rel="stylesheet" media="screen">
  <link href="/resource/css/header.css" rel="stylesheet" media="screen">
  <link href="/resource/css/index.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="wrap">

  <!-- 상단 메뉴 -->
  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a id="menu1" class="blog-nav-item active" href=""></a>
        <a id="menu2" class="blog-nav-item" href=""></a>
        <a id="menu3" class="blog-nav-item" href=""></a>
        <a id="menu4" class="blog-nav-item" href=""></a>
        <a id="lang" class="blog-nav-item" href="#" onclick="changeLang();"></a>
      </nav>
    </div>
  </div>

  <!-- 메인 -->
  <div class="blog-header">
    <div class="container logo">
      <p class="glyphicon glyphicon-cloud cloud-icon"></p>
      <p class="cloud-title"><p>
    </div>
    <div class="container">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-2 col-md-offset-5">
            <input type="email" class="form-control inputEmail" id="inputEmail" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 col-md-offset-5">
            <input type="password" class="form-control inputPassword" id="inputPassword" placeholder="">
          </div>
        </div>
        <div class="form-group nameForm">
          <div class="col-sm-2 col-md-offset-5">
            <input type="text" class="form-control inputName" id="inputName" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-5">
            <input type="button" id="loginBtn" class="btn btn-primary" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-5 joinForm">
            <a id="joinBtn" onclick="openPasswordConfirmDiv();"></a>
          </div>
        </div>
      </form>
    </div>
  </div>


  <!-- 공지 -->
  <div class="blog-notice">
    <div class="container">
      <span id="noticeMessage"></span>
    </div>
  </div>

  <!-- 하단 -->
  <div class="blog-footer">
    <div class="container">
      <div class="cloudName">
        <input type="text" id="userName" class="form-control input-sm" placeholder=""/>
      </div>
      <div class="cloudContent">
        <input type="text" id="userContent" class="form-control input-sm" placeholder=""/>
      </div>
      </ul>
    </div>
  </div>



</div>
<script src="/resource/js/jquery.min.js"></script> 
<script src="/resource/js/bootstrap.min.js"></script>
<script src="/resource/js/constants.js"></script>
<script type="text/javascript">
  var langFlag = getParameterByName("langFlag");
  var joinFlag = "N";

  $(document).ready(function(){
    init();
    
  });

  function init(){
    $(".blog-footer").hide();
    $(".blog-notice").hide();
    $(".nameForm").hide();

    setLang(langFlag);
  }

  function openPasswordConfirmDiv(){
    if(joinFlag == "N"){
      $(".nameForm").show();
      $("#loginBtn").attr("onclick", "openPasswordConfirmDiv();").val(CONSTANT.getValue("signup", langFlag));
      $("#joinBtn").attr("onclick", "openLoginDiv();").html(CONSTANT.getValue("signin", langFlag));



      joinFlag = "Y";
    } else if(joinFlag == "Y"){
      //패스워드 같은지 확인
      //form값 action으로 넘기기
      alert("가입됨");
    }
  }

  function openLoginDiv(){
    joinFlag = "N";
    $(".nameForm").hide();
    $("#joinBtn").attr("onclick", "openPasswordConfirmDiv();").html(CONSTANT.getValue("signup", langFlag));
    $("#loginBtn").attr("onclick", "").val(CONSTANT.getValue("signin", langFlag));

  }
</script>
</body>
</html>