<!-- 상단 메뉴 -->
<% include header.ejs%>

  <!-- 메인 -->
  <div class="blog-header">
    <div class="container logo">
      <p class="glyphicon glyphicon-cloud cloud-icon"></p>
      <p class="cloud-title"><p>
    </div>
    <div class="container">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-md-2 col-md-offset-5">
            <input type="email" class="form-control inputEmail" id="inputEmail" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 col-md-offset-5">
            <input type="password" class="form-control inputPassword" id="inputPassword" placeholder="">
          </div>
        </div>
        <div class="form-group nameForm">
          <div class="col-md-2 col-md-offset-5">
            <input type="text" class="form-control inputName" id="inputName" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 col-md-offset-5">
            <input type="button" id="loginBtn" class="btn btn-primary" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 col-md-offset-5 joinForm">
            <a id="joinBtn" onclick="openPasswordConfirmDiv();"></a>
          </div>
        </div>
      </form>
    </div>
  </div>


  <!-- 공지 -->
  <div class="blog-notice">
    <div class="container">
      <span id="noticeMessage"></span>
    </div>
  </div>


<!-- 하단 -->
<% include footer.ejs%>



</div>
<script src="/resource/js/jquery.min.js"></script> 
<script src="/resource/js/bootstrap.min.js"></script>
<script src="/resource/js/constants.js"></script>
<script type="text/javascript">
  var langFlag = getParameterByName("langFlag");
  var joinFlag = "N";

  function setActiveMenu(number){
    $("#menu"+number).addClass("active");
  }
  
  $(document).ready(function(){
    init();
    setActiveMenu("1");
    
  });

  function init(){
    $(".blog-footer").hide();
    $(".blog-notice").hide();
    $(".nameForm").hide();

    setLang(langFlag);
  }

  function openPasswordConfirmDiv(){
    if(joinFlag == "N"){
      $(".nameForm").show();
      $("#loginBtn").attr("onclick", "openPasswordConfirmDiv();").val(CONSTANT.getValue("signup", langFlag));
      $("#joinBtn").attr("onclick", "openLoginDiv();").html(CONSTANT.getValue("signin", langFlag));



      joinFlag = "Y";
    } else if(joinFlag == "Y"){
      //패스워드 같은지 확인
      //form값 action으로 넘기기
      alert("가입됨");
    }
  }

  function openLoginDiv(){
    joinFlag = "N";
    $(".nameForm").hide();
    $("#joinBtn").attr("onclick", "openPasswordConfirmDiv();").html(CONSTANT.getValue("signup", langFlag));
    $("#loginBtn").attr("onclick", "").val(CONSTANT.getValue("signin", langFlag));

  }
</script>
</body>
</html>