<!-- 상단 메뉴 -->
<% include header.ejs%>
	
	<!-- 메인 -->
	<div class="blog-header">
		<div class="container">
			<ul class="list-group">
				<li class='list-group-item chatPanel'></li>
			</ul>
		</div>
	</div>


<!-- 하단 -->
<% include footer.ejs%>




<script src="/resource/js/socket.io.js"></script> 
<script src="http://cloudbridge.herokuapp.com/socket.io/socket.io.js"></script>
<script src="/socket.io/socket.io.js"></script> 
<script src="/resource/js/jquery.min.js"></script> 
<script src="/resource/js/bootstrap.min.js"></script>
<script src="/resource/js/constants.js"></script>
<script src="http://jsgetip.appspot.com"></script>

<script type="text/javascript">
	var langFlag = getParameterByName("langFlag");
	var uIp = ip();
	var printTimeCount = 0;

	function setActiveMenu(number){
		$("#menu"+number).addClass("active");
	}

	$(document).ready(function(){
		setLang(langFlag);
		setActiveMenu("3");

		var host = location.origin;
		//var host = location.origin.replace(/^http/, 'ws');
		var PORT = "5000";

		//socket.io 생성
		socket = io.connect(host, {
			port: PORT,
			"transports": ["websocket", "polling","xhr-polling"],
			"force new connection": true
		});

		socket.emit("USER_ENTER", {
			uIp: uIp
		});

		socket.on("USER_ADD", function(data){
			addMessage(data, 0);
		});

		socket.on("MSG_ADD", function(data){
			addMessage(data, 1);
		});
	});

	/* 메시지를 붙여줌 */
	function addMessage(data, count){
		var newUserName = data.newNick;
		var newUserMsg = data.newMsg;
		var newUserTime = data.newTime;
		printTimeCount += count;

		var whiteSpace = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";

		if(printTimeCount > 5){
			printTimeCount = 0;
			var li = $("<code>" + newUserName + "</code> " + newUserMsg + whiteSpace + "..." + newUserTime + "<br/>");
		} else{
			if(typeof newUserName != "undefined"){
				var li = $("<code>" + newUserName + "</code> " + newUserMsg + "<br/>");
			} else{
				var li = $("<code>" + CONSTANT.getValue("chatMessage", langFlag) +"</code><br/>");
			}
		}

		
		$(".list-group-item").append(li);

		/* 스크롤 */
		$(".list-group-item").scrollTop($(".list-group-item")[0].scrollHeight);
	}



	function sendMsg(flag) {
		if(event.keyCode == 13 || flag == true){
			var userName = $("#userName").val();
			var userContent = $("#userContent").val();

			if(userName == '' || userName == null || userContent == '' || userContent == null){ return false; }

			$("#userContent").val("");

			socket.emit("CHAT_MSG", {
				nick: userName,
				msg: userContent
			});
		}
	}

	function changeFocus(){
		if(event.keyCode == 13){
			$("#userContent").focus();
			sendMsg(true);
		}
	}
</script>
</body>
</html>