<!-- 상단 메뉴 -->
<% include header.ejs%>
	
	<!-- 메인 -->
	<div class="blog-header">
		<div class="container">
			<div class="list-group">
				<ul>
					<li class="list-group-item">
						<div class="leftContent">
							<p class="list-group-item-heading">
								가나달
								
							</p>
						</div>
						<div class="rightContent">
							<span class="glyphicon glyphicon-user">피카딜구</span>
							/
							<span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="top" title="2015-12-12">09:32</span>
							/
							<span class="glyphicon glyphicon-thumbs-up">32</span>
						</div>
					</li>
					<li class="list-group-item">
						<div class="leftContent">
							<p class="list-group-item-heading">
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								dfghdfgdfgdfghgsdfsdfsdfgsdfsdfgsdfg
								
							</p>
						</div>
						<div class="rightContent">
							<span class="glyphicon glyphicon-user">피카딜3번출구</span>
							/
							<span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="top" title="2015-12-12">09:32</span>
							/
							<span class="glyphicon glyphicon-thumbs-up">32</span>
						</div>
					</li>
					<li class="list-group-item">
						<div class="leftContent">
							<p class="list-group-item-heading">
								본문클릭하면 댓글달기 -- 클릭한거 알 수 있도록 색깔 칠하도록 변경, 그리고 해당 글번호는 form hidden에 넣어놓고 대기<br/>
								댓글은 단 순서대로 달림 (디비 insert 순)<br />
								우측 사용자쪽 누르면 좋아요 올라감<br/>
								로컬스토리지 이용해서 좋아요 누른거는 못클릭하게 변경<br/>
								회원가입/로그인 구현 후 이름 변경 가능하도록<br/>
								접속자리스트 구현(채팅창 우측)<br/>
								해시태그 구현(#시간 -> 시간찍기)<br/>
								
							</p>
						</div>
						<div class="rightContent">
							<span class="glyphicon glyphicon-user content-nick">피카딜리서커스역3번출구</span>
							/
							<span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="top" title="2015-12-12">09:32</span>
							/
							<span class="glyphicon glyphicon-thumbs-up content-thumbup">14</span>
						</div>
					</li>
					<li class="list-group-item">
						<div class="leftContent">
							<span class="label label-warning"> </span>
							<p class="list-group-item-heading">
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								어쩌고 저쩌고 오늘 하루 등등등
								
							</p>
						</div>
						<div class="rightContent">
							<span class="glyphicon glyphicon-user">피카</span>
							/
							<span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="top" title="2015-12-12">09:32</span>
							/
							<span class="glyphicon glyphicon-thumbs-up">5</span>
						</div>
					</li>

				</ul>
			
			</div>
		</div>
	</div>




	<!-- 공지 -->
	<div class="blog-notice">
		<div class="container">
			<span class="glyphicon glyphicon-bullhorn noticeMessage"></span> 
			<span id="noticeMessage" class="noticeMessage"></span>
			<span class="clickMessage"></span>
		</div>
	</div>



<!-- 하단 -->
<% include footer.ejs%>

</div>
<script src="/resource/js/jquery.min.js"></script> 
<script src="/resource/js/bootstrap.min.js"></script>
<script src="/resource/js/constants.js"></script>
<script type="text/javascript">
	var langFlag = getParameterByName("langFlag");

	function setActiveMenu(number){
		$("#menu"+number).addClass("active");
	}
	
	$(document).ready(function(){
		setLang(langFlag);
		setActiveMenu("2");
		$('[data-toggle="tooltip"]').tooltip();

		//removeClass랑 addClass로 변경할까 함. class가지고 있는 것 밑에 댓글 걸기 위해서.
		$(".list-group-item").click(function(){
			$(".list-group-item").css("border-left", "0px");
			$(this).css("border-left", "5px solid #f00");
		});
	});
</script>
</body>
</html>